@charset "UTF-8";

body {
    background-color: black;

}

h1 {
    margin-top: 200px;
    color: rgb(236, 195, 80);
    font-family: sans-serif;
    font-size: 3em;
    text-align: center;    
}

h1:hover {
    text-shadow: 0 0 25px #ffb62f;
}

div {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

#lamp {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 250px;
}


